POSTGRES_DB=POSTGRES_DB
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRE_HOST=POSTGRE_HOST
POSTGRES_PORT=POSTGRES_PORT
SECRET_KEY = django-insecure-egjnejingiue=!)fkjnejkrnfiebgbweh!lfy%isvgya=@bpm)n$dcf7&c4v!
CELERY_BROKER_URL = redis://localhost:6379
CELERY_RESULT_BACKEND = redis://localhost:6379